#camera {
	background-color: #709E2D;
}

#cameraView {
	text-align: center;
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 80px;
	color: #FFF;
}

#camera .button {
	position: absolute;
	bottom: 0;
	border: 1px solid #000;
	background-color: #55F;
	height: 80px;
	width: 80px;
}

#cameraFlip {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 2;
	height: 50px;
	width: 75px;
	background-image: url("assets/camera-flip.png");
	background-repeat: no-repeat;
	background-size: 75px 50px;
}

#snapsLink {
	left: 0px;
}
#captureImage {
	left: 133px;
}
#settingsLink {
	left: 266px;
}
#friendsLink {
	left: 400px;
}
