#camera {
	background-color: #709E2D;
}

#cameraView {
	text-align: center;
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 80px;
	color: #FFF;
}

#camera .button {
	position: absolute;
	bottom: 0;
	border: 1px solid #000;
	background-color: #55F;
	height: 80px;
	width: 80px;
}

#snapsLink {
	left: 0px;
}
#captureImage {
	left: 82px;
}
#settingsLink {
	left: 164px;
}
#friendsLink {
	left: 246px;
}
