#login {
	background-color: #070;
	text-align: center;
	padding-top: 20px;
}

#loginLogo {
	margin-top: 50px;
	width: 220px;
	height: 196px;
}

#loginHeader {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	text-shadow: 1px 1px #000;
	margin-bottom: 30px;
}

#loginMessage {
	background-color: #CCC;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 1px 1px #AAA;
	padding: 6px;
	margin: 20px 40px;
	display: none;
}

.loginInput {
	margin: 0 40px;
	padding: 2px 5px;
	width: calc(100% - 90px);
	height: 32px;
	line-height: 32px;
	border: 0;
	font-size: 22px;
}

#loginName {
	margin-bottom: 0;
	border-bottom: 1px solid #555;
}

#loginPass {
	margin-top: 0;
}

#loginSubmit {
	background-color: #CCC;
	width: calc(100% - 80px);
	padding: 4px 0;
}

#logout {
	background-color: #070;
	text-align: center;
}
