html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Segoe UI";
}

.major {
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.header {
	font-weight: bold;
	font-size: 28px;
	text-shadow: 1px 1px #444;
	text-align: center;
	background-color: #709E2D;
	height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 50px;
}

#displaySnap {
	z-index: 100;
	overflow: hidden;
}

#displaySnap img {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#displaySnap .ticker {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 50px;
	height: 50px;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	background-color: #333;
	color: #FFF;
	text-shadow: 1px 1px #000;
	opacity: .8;
}
