#snapchats ul {
	width: 100%;
	position: absolute;
	left: 0px;
	list-style: none inside none;
	padding: 0;
	margin: 0;
}

#snapchats li {
	font-size: 18px;
	padding: 8px 8px 8px 60px;
	border-bottom: 1px solid #BBB;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #FFF;
	color: #000;
	background-position: 5px;
	background-repeat: no-repeat;
	background-size: 45px 40px;
}

#snapchats .sendPerson {
	font-weight: bold;
	padding-right: 5pt;
}

#snapchats .receiveTime {
	text-align: left;
	font-style: italic;
}

#snapchats .sent-closed {
	background-image: url("/assets/sent-closed.png");
}
#snapchats .sent-open {
	background-image: url("/assets/sent-open.png");
}
#snapchats .sent-screenshot {
	background-image: url("/assets/sent-screenshot.png");
}
#snapchats .received-image-closed {
	background-image: url("/assets/received-image-closed.png");
}
#snapchats .received-video-closed {
	background-image: url("/assets/received-video-closed.png");
}
#snapchats .received-image-open {
	background-image: url("/assets/received-image-open.png");
}
#snapchats .received-video-open {
	background-image: url("/assets/received-video-open.png");
}
#snapchats .friend-request {
	background-image: url("/assets/friend-request.png");
}
