#camera {
	background-color: #F00;
}

#cameraView {
	text-align: center;
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 80px;
	color: #FFF;
}

#camera .button {
	position: absolute;
	bottom: 0;
	border: 1px solid #000;
	background-color: #00F;
	height: 80px;
	width: 80px;
}

#logout {
	left: 0;
}
#snapsLink {
	left: 100px;
}
#captureImage {
	left: 200px;
}
#settingsLink {
	right: 100px;
}
#friendsLink {
	right: 0px;
}
